
    <table id="dgRole" title="Danh mục các nhóm người dùng" style="width:600px;height:380px"
           toolbar="#toolbarRole" pagination="true" idField="Id"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="Id" width="50">Mã nhóm</th>
                <th field="Name" width="50" >Tên nhóm</th>
                <th field="Description" width="50" editor="{type:'validatebox',options:{required:true}}">Mô tả</th>
            </tr>
        </thead>
    </table>
    <div id="toolbarRole">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dgRole').edatagrid('saveRow')">Lưu</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dgRole').edatagrid('cancelRow')">Hủy</a>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#dgRole').edatagrid({
                url: '@Url.Action("ListAll", "Role", new { Area = "Quantri" })',
                saveUrl: '@Url.Action("Create", "Role", new { Area = "Quantri" })',
                updateUrl: '@Url.Action("Update", "Role", new { Area = "Quantri" })',
                destroyUrl: '@Url.Action("Destroy", "Role", new { Area = "Quantri" })'
            });
        });
    </script>
