
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}


<div class="main-content">
    <div class="card">
        <div class="card-header" style="text-align: center; font-size: 18px;
                        text-transform: uppercase; background: #BFD7EA; color: black">
            <strong>Đăng ký khám bệnh thành công</strong>
        </div>
        <div class="card-body card-block">          
            <h2>Username: @ViewBag.Username </h2>
            <br />
            <h2>Password: @ViewBag.Password</h2>
            <br />
            @Html.ActionLink("Tiếp tục", "Create", null,new { @class="btn btn-info"})
        </div>

    </div>
</div>
