<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Dung truy">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Bác sỹ ơi | Tạo bệnh án</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/Common/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/Common/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Common/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Common/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Content/Common/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/Common/css/theme.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/Content/Common/css/style.css" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/Content/Common/images/icon/logo.1.png" alt="Doctor">
                            </a>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/Content/Common/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/Common/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/Common/bootstrap-4.1/bootstrap.min.js"></script>

    <!-- Main JS-->
    <script src="~/Content/Common/js/main.js"></script>
</body>

</html>
<!-- end document-->
