
@{
    ViewBag.Title = "Trang quản trị hệ thống";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}
<div id="tt" class="easyui-tabs" border="false" fit="true" closable="true">
    <div title="Chào Mừng" iconCls="icon-tip" style="padding:10px">
        <h3>Chào mừng bạn đến với chương trình quản trị </h3>
        <h4>Để thao tác, chọn một mục từ danh sách bên trái</h4>

    </div>

</div>