.param-right-add-button
{
    display: block;
    float: right;
    padding-top: 10px;
}

.navbar__sub-list .selected-item{
    color: #4272D7;
}

#avatar-input:hover{
    color: #4272D7;
}

.form-control legend{
    font-size: 1.2em;
    font-weight: bold
}

.center-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; 
}

.center-image img.diag-avatar{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.center-image.div-image {
    width: 200px; 
    height: 200px; 
    margin: auto; 
    border: 1px dashed black; 
    margin-top: 50px
  }

p.time-label{
    font-size: 12px; color: #999;
    font-weight: 400;
}

.timeline-record{
    padding: 5px 5px;
}

.timeline-record .timeline-record-content{
    margin: 20px auto;
    padding: 10px auto;
}

.timeline-record .time-item-title{
    font-size: 1.1em;
    font-weight: bold;
    color: crimson;
    border: 1px solid #ccc;
}

.card-header.card-header-title{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #BFD7EA;
    color: black;
}

.diagnosis-box{
    margin-left: 100px;
    padding: 10px;
    background-color: lightyellow;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
}

.diagnosis-bubble{
    padding: 10px;
    background-color: lightyellow;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
}

fieldset#filter-panel{
    /* font-size: 14px; */
    margin-left: 5%;
    border: none;
    font-size: 15px
    /* display: flex;
    align-items: center; */
}

fieldset#filter-panel legend{
    /* font-size: 14px; */
    font-size: 1.2em;
    color: crimson
    /* display: flex;
    align-items: center; */
}

.chart-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: purple;
    padding-top: 10px;
    padding-bottom: 30px
}


/* fieldset#filter-panel select, input{
    height: 80%;    
} */

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}